.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.slider-controls-button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
  border-radius: var(--rounded);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.slider-controls-selected {
  background-color: var(--text-color);
  color: var(--secondary-color);
}

.slider-controls-button:active {
  scale: 0.95;
}

.slider-controls-button svg {
  width: 2rem;
}

.slide-answer {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
}

.slide-answer input {
  width: 100%;
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  border-radius: var(--rounded);
  padding: 0.75rem;
  outline: none;
  color: var(--text-color);
}
