.topic-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding-bottom: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.topic-item {
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
  padding: 2rem;
  border-radius: var(--rounded);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.topic-item:hover {
  transform: translateY(-0.25rem);
  scale: 1.001;
  transition: all 0.3s ease-in-out;
}

.topic-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: var(--rounded);
  margin-bottom: 2rem;
}

.topic-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.topic-title {
  max-width: 80%;
}

.topic-description {
  color: var(--text-color-common);
  font-size: 0.9rem;
}

.topic-icon svg {
  width: 1.5rem;
}

@media (min-width: 768px) {
  .topic-list {
    grid-template-columns: 1fr 1fr;
  }

  .topic-item {
    min-height: 14rem;
  }
}
