@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-light: #f7f9fb;
  --secondary-color-light: #ffffff;
  --text-color-light: #030304;
  --primary-color-dark: #131517;
  --secondary-color-dark: #1c1e23;
  --text-color-dark: #ffffff;
  --text-color-common: #64748b;
  --accent-color: #3b82f6;
  --rounded: 0.5rem;
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

html[data-theme='dark'] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --text-color: var(--text-color-dark);
}

html[data-theme='light'] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --text-color: var(--text-color-light);
}

.Toastify__close-button {
  color: var(--text-color) !important;
}

@media (max-width: 768px) {
  .Toastify__toast-container {
    margin-top: 2rem !important;
    padding: 2rem !important;
  }
}

/** custom utilities **/
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-blue-tap-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-visibility {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.slide-height {
  height: calc(100% - 10rem);
}
