@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-light: #f7f9fb;
  --secondary-color-light: #ffffff;
  --text-color-light: #030304;
  --primary-color-dark: #131517;
  --secondary-color-dark: #1c1e23;
  --text-color-dark: #ffffff;
  --text-color-common: #64748b;
  --accent-color: #3b82f6;
  --rounded: 0.5rem;
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

html[data-theme='dark'] {
  --primary-color: var(--primary-color-dark);
  --secondary-color: var(--secondary-color-dark);
  --text-color: var(--text-color-dark);
}

html[data-theme='light'] {
  --primary-color: var(--primary-color-light);
  --secondary-color: var(--secondary-color-light);
  --text-color: var(--text-color-light);
}

.custom-toast {
  background-color: var(--primary-color) !important;
  color: var(--text-color) !important;
}

.Toastify__close-button {
  color: var(--text-color) !important;
}

@media (max-width: 768px) {
  .Toastify__toast-container {
    margin-top: 2rem !important;
    padding: 2rem !important;
  }
}
